/* Reset gaya dasar */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Gaya untuk iframe YouTube Shorts */
iframe {
    border: none;
    width: 360px; /* Ukuran sesuai format Shorts */
    height: 640px; /* Ukuran sesuai format Shorts */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
    border-radius: 10px; /* Tambahkan sudut melengkung */
}
